@font-face{
    font-family: 'Monserrat';
    src: url('./Montserrat/Montserrat-Light.ttf')
}
@font-face{
    font-family: "sansation";
    src: url('./sansation/Sansation_Light.ttf');
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.nav{
    margin: 0px;
}
.navbar1{
    font-family: 'Monserrat';
    text-align: right;
    padding: 5px;  
    margin-top: 0px;
}
li{
    font-size: 16px;
    padding: 15px 25px;
    display: inline-block;
    color: white;
    font-weight: bold;
}
#theme{
    font-weight: lighter;
    float: left;
    margin: 0;
    font-size: 19px;
    font-family: 'sansation';
    letter-spacing: 2px;
}
li a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}
.menu a:hover{
    color: gray;
}
.dropdown{
    display: none;
}
.divgambar{
    position: relative;
    margin-top: -16px;
}
.divgambar p{
    letter-spacing: 1.2px;
    position: absolute;
    text-align: center;
    font-family: "Monserrat";
    font-weight: bold;
    color: white;
    font-size: 35px;
    top: 150px;
    left: 570px;
}
#gambar1{
    width: 100%;
    filter: brightness(25%);
}
.identitas-usaha{
    position: relative;
    margin: 10px;
    box-shadow: 0px 5px 5px #232323;
    background-color: #eee;
    border-radius: 10px;
    transition: 0.3s ease;
}
.identitas-usaha:hover{
    box-shadow: 0px 3px 7px blue;
}
.identitas-usaha h3{
    font-family: 'monserrat';
    padding: 10px;
}
.identitas-usaha h3 a #medsos{
    width: 25px;
    position: absolute;
    top: 195px;
    left: 145px;
}
.identitas-usaha h3 a #kontak{
    width: 25px;
    position: absolute;
    top: 257px;
    left: 110px;
}
.footer{
    background-color: #232323;
}
.footer footer p{
    position: relative;
    margin-bottom: -3px;
    font-family: "monserrat";
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 15px;
}

@media (min-width: 321px) and (max-width: 425px) {
    li{
        font-size: 7.2px;
        padding: 15px 25px;
        display: inline-block;
        color: white;
        font-weight: bold;
    }
    .navbar1 #theme{
        padding: 5px 15px;
        font-size: 10px;
        top: 1px;
    }
    .inti{
        display: none;
    }
    .dropdown {
        padding: 5px 15px;
        font-size: 10px;
        display: inline-block;
        position: relative;;
        right: 100px;
	}
	.dropdown:hover .isi-dropdown {
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover{
        text-decoration: none;
    }
	.isi-dropdown a:hover {
		color: #fff;
	}
	.isi-dropdown {
        display: inline;
        text-align: center;
        position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		background-color: #f9f9f9;
	}
	.isi-dropdown li a{
        color: #3c3c3c;
        position: relative;
        right: 20px;
	}
	.isi-dropdown a:hover {
		color: #232323;
        background: #f3f3f3;
        text-decoration: none;
    }
    .divgambar p{
        font-size: 7px;
        top: 40px;
        left: 150px;
    }
    .identitas-usaha{
        font-size: 7px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .identitas-usaha h3 a #medsos{
        width: 10px;
        top: 125px;
        left: 70px;
    }
    .identitas-usaha h3 a #kontak{
        width: 10px;
        top: 162.5px;
        left: 55px;
    }
    .footer footer p{
        font-size: 7px;
    }
}

@media (min-width: 414px) and (max-width: 425px) {
    li{
        font-size: 7.2px;
        padding: 15px 25px;
        display: inline-block;
        color: white;
        font-weight: bold;
    }
    .navbar1 #theme{
        padding: 5px 15px;
        font-size: 10px;
        top: 1px;
    }
    .inti{
        display: none;
    }
    .dropdown {
        padding: 5px 15px;
        font-size: 10px;
        display: inline-block;
        position: relative;;
        right: 45px;
	}
	.dropdown:hover .isi-dropdown {
        text-decoration: none;
        display: block;
    }
    .dropdown a:hover{
        text-decoration: none;
    }
	.isi-dropdown a:hover {
		color: #fff;
	}
	.isi-dropdown {
        display: inline;
        text-align: center;
        position: absolute;
		display: none;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        left: -33px;
		background-color: #f9f9f9;
	}
	.isi-dropdown li a{
        color: #3c3c3c;
        position: relative;
        right: 20px;
	}
	.isi-dropdown a:hover {
		color: #232323;
        background: #f3f3f3;
        text-decoration: none;
    }
    .divgambar p{
        font-size: 13px;
        top: 40px;
        left: 150px;
    }
    .identitas-usaha{
        font-size: 7px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .identitas-usaha h3 a #medsos{
        width: 10px;
        top: 125px;
        left: 70px;
    }
    .identitas-usaha h3 a #kontak{
        width: 10px;
        top: 162.5px;
        left: 55px;
    }
    .footer{
        position: relative;
        top: 255px;
    }
    .footer footer p{
        font-size: 7px;
    }
}

@media (min-width: 411px) and (min-height: 823px) {
    .divgambar p{
        font-size: 15px;
    }
    .dropdown{
        right: 40px;
    }
    .isi-dropdown{
        left: -33px;
    }
    .footer{
        position: relative;
        top: 350px;
    }
    .footer footer p{
        font-size: 7.5px;
    }
}